# values.yaml 

# 1. Image Config
image:
  repository: 339713051385.dkr.ecr.ap-northeast-2.amazonaws.com/ecr-repo-an2-iac-prod/eva/ai-solutions/eva-vision/inference/eva-vision
  pullPolicy: IfNotPresent
  tag: v3

# 2. Replica
replicaCount: 1

# 3. Resources (GPU Setting)
resources:
  limits:
    nvidia.com/gpu: 1
    memory: "8Gi"
    cpu: "4"
  requests:
    memory: "8Gi"
    cpu: "2"
    nvidia.com/gpu: 1

# 서비스 설정
service:
  type: ClusterIP
  port: 8000

# ServiceAccount 설정
serviceAccount:
  create: true
  name: ""        # 비워두면 <release>-sa 로 생성
  annotations: {}
  automountServiceAccountToken: false

# Pod 메타데이터
podAnnotations: {}
podLabels: {}

# 스케줄링 관련
nodeSelector: {}
tolerations: []
affinity: {}

# TorchServe / App 설정
appConfig:
  # JVM Args
  vmargs: "-Dlog4j.configurationFile=eva_ts/log4j2.xml"

  # Network
  inference_address: "http://0.0.0.0:8080"
  management_address: "http://0.0.0.0:8081"
  metrics_address: "http://0.0.0.0:8082"
  grpc_inference_port: 7070
  grpc_management_port: 7071

  # Metrics / Flags
  enable_envvars_config: true
  enable_metrics_api: false
  metrics_format: "prometheus"
  metrics_interval: 600
  install_py_dep_per_model: true
  default_workers_per_model: 1
  disable_token_authorization: true

  # Models to Load
  load_models: "Owl-v2.mar,ig.mar,OmDet.mar,RT-DETRV2.mar"

  # Models detail setup
  models:
    Owl-v2:
      "1.0":
        defaultVersion: true
        marName: "Owl-v2.mar"
        minWorkers: 1
        maxWorkers: 1
        batchSize: 1
        maxBatchDelay: 150
    OmDet:
      "1.0":
        defaultVersion: true
        marName: "OmDet.mar"
        minWorkers: 1
        maxWorkers: 1
        batchSize: 1
        maxBatchDelay: 150
    RT-DETRV2:
      "1.0":
        defaultVersion: true
        marName: "RT-DETRV2.mar"
        minWorkers: 1
        maxWorkers: 1
        batchSize: 8
        maxBatchDelay: 30

# Persistence (Log Storage)
persistence:
  enabled: false

  # 기존 PVC 재사용 시 이름 지정 (우선순위 가장 높음)
  existingClaim: ""

  # 새 PVC 생성 시 설정 (existingClaim 비어있을 때만 사용)
  storageClass: ""        # "" 이면 default StorageClass 사용
  size: 20Gi
  accessModes:
    - ReadWriteOnce

  # Pod mount
  mountPath: "/app/logs"
  subPath: ""

  # PVC 메타데이터
  annotations: {}
  labels: {}

  # TorchServe internal paths
  modelStore: "model-store"  # 컨테이너 내부 경로
  tmpDir: "tmp"
  logLocation: "logs"        # TorchServe 입장에서의 log 디렉터리 (컨테이너 경로 기준)

